body {
	background-color: black;
	color: white;
	width: 970px;
	text-align: center;
	margin: 0 auto;
}

p {
	text-align: left;
}

img {
	border: 3px solid silver;
	display: inline-block;
	height: 400px;
	width: 450px;
}